body {
    background-color: #ccc;
    font-family: sans-serif;
    font-size: 100%;
}

a {
    color: #249;
    text-decoration: none;
    outline: none; /* don't outline image links (ff) */
}
a:hover { text-decoration: underline; }
a:visited { color: #649; }

h1, h2, h3 {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 5px;
}
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
small { font-size: 80%; }
b { font-weight: bold; }

#content {
    width: 960px;
    margin: 10px auto;
}

/*-------------------------------------------*/
/* BEGIN index modules                       */
/*-------------------------------------------*/
.indexmodule {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}
/* clearfix rolled into indexmodule */
.indexmodule:before { content: " "; display: table; }
.indexmodule:after  { content: " "; display: table; clear: both; }
.indexmodule { *zoom: 1; }

.indexmodule img {
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}

.indexmodule p { margin-top: 5px; margin-left: 130px; clear: right; }

.indexmodule form {
    float: right;
    background: #ccc;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.indexmodule ul {
    width: 808px; /* defining max available width keeps float from */
                  /* squishing multiple columns too closely */
    margin: 10px 0 10px 130px;
    padding: 0;
    font-size: 80%;
    line-height: 120%;
    list-style-type: none;
}
.indexmodule ul.double {
    column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;
 }
.indexmodule ul.triple {
    column-count: 3; -webkit-column-count: 3; -moz-column-count: 3;
 }
.indexmodule ul.quad   {
    column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;
 }
.indexmodule .listhead {
    font-weight: bold; font-size: 120%; margin: 5px 0 5px 0;
}

.indexmodule table {
    width: 808px;
    float: right;
    font-size: small;
    margin: 10px 0 10px 0;
}

.indexmodule td {
    background: #eef;
    border: 1px solid #ccc;
    padding: 3px 2px;
    text-align: center;
}

.indexmodule .smallblurb {
    font-size: 62%;
    margin-left: 130px;
    clear: both;
}

